.title {
    font-family: 'Brush Script MT', cursive !important;
    font-weight: bold;
    font-size: 70px;
}
.bottom-info {
    width: 100% !important;
}
.card-header {
    position: absolute;
    width: 100%;
    background-color: #156e28 !important;
    color: #fff;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
  }
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow .25s;
  }
  .price-tag {
    background: #39b6ba;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 6.5px 18px;
    position: relative;
  }
  .price-tag:after {
    width: 0;
    height: 0;
    border: 12.5px solid transparent;
    position: absolute;
    content: "";
    border-top-color: #39b6ba;
    right: -23px;
    top: 0px;
    border-left-color: #39b6ba;
  }
  .price-tag:before {
      width: 0;
      height: 0;
      border: 13px solid transparent;
      position: absolute;
      content: "";
      border-bottom-color: #39b6ba;
      right: -23px;
      top: -1px;
  }
